<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <!-- partials - Same code is kept in another file & then included that-->

    <div class="blogs-content">
        <h2>All Blogs</h2>
        <% if(blogs.length >0) {%>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <div>
                        <h3 class="title"><%= blog.title %></h3>
                        <p class="date"><%= blog.date.toString().substr(4,3)+'/'+blog.date.toString().substr(8,2)+'/'+blog.date.toString().substr(11,4) %></p>
                    </div>
                    <p class="snippet"><%= blog.snippet %></p>
                </a>
            <% }); %>
        <% } else { %>
            <h3>No Blogs to display...</h1>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>